@media only screen and (min-width: 37.5em) {

    .chamber-logo {
        max-width: 80px;
    }

    nav button {
        font-size: 1.5em;
    }

    nav ul {
        font-size: 1.4em;
    }

    h1 {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.1em;
    }

    h5 {
        font-size: .9em;
    }

    p {
        font-size: 16px;
    }

    .hero-box {
        margin: 0 auto;
    }

    .banner-img {
        display: block;
        width: 100%;
    }

    .banner-img-sm {
        display: none;
    }

    .join-call-sm {
        padding: 18px;
        background-color: #d99330c4;
        border: none;
    }



    .jCall {
        margin-left: 60px;
    }

    th img {
        max-width: 75px;
    }

    td {
        font-size: 16px;
    }

    .article-img {
        float: right;
        width: 90%;
    }

    .grid-container {
        max-width: 80%;
        margin: auto;
    }

    .contact-info img {
        width: 36px;
    }

    footer {
        max-width: 100%;
        margin: auto;
    }

    /* Salt Lake City Page */
    .pioneers {
        float: right;
        max-width: 40%;
        margin-left: 10px;
    }
    .city-creek {
        float: left;
        max-width: 40%;
        margin-right: 10px;
    }
    .current {
        clear: right;
    }
    .today {
        clear: both;
    }
    .events img {
        float: right;
        max-width: 30%;
        margin-left: 10px;
    }
    .events p, h5 {
        clear: left;
    }
    .events {
        clear: both;
    }
    /* Directory Page */
    .grid-menu {
        display: block;
    }

    .view:hover {
        box-shadow: 0 0 30px black;
    }
    .grid-view {
        grid-template-columns: 1fr 1fr;
    }
    .list-view {
        grid-template-columns: 1fr;
        margin: auto;
    }
    .cards section {
        width: 80%;
        margin: 20px auto;
    }
    /* Join Us */
    .regions {
        width: 40%;
    }

    input.submitBtn {
        font-size: 1em;
    }

    /* Home Page */
    .home-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 80%;
        margin: auto;
    }

    .home-article {
        margin: auto;
        margin-bottom: 20px;
        max-width: 80%;
    }

    .home-grid section:nth-child(3) {
        grid-column: span 2;
    }

    .home-img {
        float: right;
        width: 40%;
    }
}