@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
    nav {
background: #00fffa;
background: -moz-linear-gradient(top, #00fffa 0%, #00becf 100%);
background: -webkit-linear-gradient(top, #00fffa 0%,#00becf 100%); 
background: linear-gradient(to bottom, #00fffa 0%,#00becf 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fffa', endColorstr='#00becf',GradientType=0 ); 
    }
    
    
    .clearfix {overflow: auto;}
    
    .img-logo {float: left;
        background-image: none;}
    
    header {background-color: skyblue;
        padding: 1px;
        text-align: left;
        border: 1px solid #111;}
    
    h1 {font-size: 48px;
        font-family: Arial, Helvetica, serif;
        padding: 1px;
        border: 3px;
        border-left: 3px;}
    
    .subheading {margin: 1rem;
        font-size: 20px;}
    
    
    ul {list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;}
    
    li {float: left;
        border-right: 1px solid #111;}
    
    li a {display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;}
    
    
    .active {background-color: #f5dc5f;}
    
    body {background-color: beige;}
    
    section h3 {font-size: 30px;
        text-align: center;
        border: 1px solid #111;
        margin: 1rem;
        background-color: #f5dc5f;}
    
    
    table, td, th{border: 1px solid #111;
        text-align: center;}
    
    table{border-collapse: collapse;
        width: 50%;}
    
    table{margin: auto;}
    
    th {height: 50px;
        background-color: #d1d1d1;}
    
    td {background-color: #f1f1f1;}
    
    
   
    article {border: 1px solid #111;
        margin: 0.5rem;
        padding: 1rem;}
    

    
    footer {position: relative;
        bottom: 0px;
        background-color: #00becf;
        text-align: center;
        border: 1px solid #111;}
    
    p.footer-bar{background-color: skyblue;
        align-content: center;
        border: 1px solid #111;}
    
}