* {box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 30px;
    font-family: "Roboto", "Times New Roman", serif;
    color: black;
    background-color: #FFFAFB;
    text-align: center;
}
h1, h2 {
    font-family: "Bebas Neue", "Arial Black", sans-serif;
}

h1 {
    font-size: 2.2rem;
    color: black;
}

h2 {
    font-size: 1.6rem;
    
}
main {
    margin: 3rem auto;
}
header, footer {
    padding: 1rem;
    max-width: 100%;
    margin: 0 auto;
}
section {
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px;
    background-color: #EAECEC;

}
header, footer, footer a {
    background-color: cornflowerblue;
    color: whitesmoke;
}
img {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkgray;
    margin: 10px;
}
p {
    font-size: 16px;
    margin: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}
.Ikea { 
    grid-column: 1/2;
}
.Nike {
    grid-column: 1/2;
}
.JBalvin {
    grid-column: 1/2;
}
footer {
    font-size: smaller;
}