h1, footer {
    text-align: center;
    font-family: 'Montserrat', Helvetica, sans-serif;
    border: 1px solid black;
    margin: auto;
    padding: 20px;
    background-color: skyblue;
}
main {
    text-align: center; 
}
h2 {
    margin-top: 40px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    background-color: snow;
}

section {
    border: 1px solid black;
    text-align: center;
    font-family: "Roboto", "Times New Roman", serif;
    background-color: white;
    width: 90%;
    box-shadow: 0 0 30px rgb(97, 96, 96);
}

img {
    max-width: 90%;
    margin: 10px auto;
}