@media only screen and (min-width: 32.5em){
    * {margin: 5px;}
    h1 {
        font-size: 2.7rem;
    }

    h2 { 
        font-size: 1.7rem;
    }

    header img {
        float: right;
        border-radius: 5px;
        box-shadow: 5px 5px 5px darkgray;
    }
    header {
        margin-top: -5px;
        border-radius: 0 0 5px 5px;;
    }
    
    header, main, footer {
        max-width: 900px;
    }
    footer {
        border-radius: 5px 5px 0 0;
    }
} 