* {box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 30px;
    font-family: "Roboto", "Times New Roman", serif;
    color: black;
}
h1, h2 {
    font-family: "Bebas Neue", "Arial Black", sans-serif;
}

h1 {
    font-size: 1.9rem;
    color: black;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 2px solid #bbb;
}
main {
    margin: 3rem auto;
}
header, footer {
    padding: 1rem;
    max-width: 100%;
    margin: 0 auto;
}

header, footer, footer a {
    text-align: center;
    background-color: cornflowerblue;
    color: whitesmoke;
}

header img {
    width: 200px;
    height: auto;
    border-radius: 5px;

}

footer {
    font-size: smaller;
}

